In [27]:
# import pandas as pd

# # Load Excel file into a pandas DataFrame
# df = pd.read_excel('your_excel_file.xlsx')

# # Split emails in each cell into separate rows
# email_series = df['Email Column'].str.split(',').apply(pd.Series).stack().str.strip()

# # Count the occurrences of each email
# email_counts = email_series.value_counts()

# # Display the counts
# print(email_counts)

import pandas as pd
import re
# import numpy as np

# Read the Excel file
df = pd.read_excel("analyze_data.xlsx")

# Define a function to extract emails from a string
def extract_emails(text):
    # Regular expression to match email addresses
    pattern = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b'
    return re.findall(pattern, str(text))  # Convert to string to handle NaN or float values

# Create a list to store all extracted emails
all_emails = []

# Iterate over each cell in the email column and extract emails
for cell in df['Symptom']:
    if not pd.isnull(cell):  # Check if the cell is not NaN
        emails = extract_emails(cell)
        all_emails.extend(emails)

# Count the occurrences of each email
email_counts = pd.Series(all_emails).value_counts().reset_index()
email_counts.columns = ['Email', 'Count']

# Print the email counts
email_counts.head(20)

                            Email  Count
0          helpdeskdj@medanta.org    196
1            helpdesk@medanta.org    177
2            tpa.desk@medanta.org     78
3              gulzar@medanta.org     48
4     farzana.perween@medanta.org     42
5          beena.negi@medanta.org     39
6        ipd7.nursing@medanta.org     37
7       opd.reception@medanta.org     36
8      LKO.opscontrol@medanta.org     36
9          patna.opd1@medanta.org     34
10      nsgsup.ranchi@medanta.org     34
11         mod.ranchi@medanta.org     32
12          it.ranchi@medanta.org     31
13     lko.eucsupport@medanta.org     31
14     lko.opscontrol@medanta.org     29
15           lko.opd1@medanta.org     27
16      lko.radiology@medanta.org     25
17  IT.ProjectManager@Medanta.org     24
18           HELPDESK@medanta.org     24
19       ipd5.nursing@medanta.org     23